
.pic {
    border: 2px solid black;
    border-radius: 10px;
    height: 400px;
    width: 240px;
    margin-bottom: 25px;
    margin-top: 55px;
    margin-left: 30px;
}


a {
    text-decoration: none;
}

div .card h4 {
    padding-bottom: 20px;
    padding-top: 10px;
}

div .marginb {
    margin-bottom: 20px;
}

div .marginb2 {
    margin-bottom: 80px;
}

div .padl {
    margin-left: 30px;
}
